@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');
body {
    font-family: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 1366px;
    margin: 0 auto;
}
#main_page_header {
    height: 800px;
    background-image: url(img/slider1.jpg);
}
#contacts_header, #products_header {
    height: 360px;
    background-color: #f5f5f5;
}
#details_header {
    height: 119px;
}
.logo {
    margin-left: 98px;
    margin-top: 63px;
}
.header .menu {
    float: right;
    margin-right: 167px;
    margin-top: 67px;
}
.header .menu li {
    float: left;
    list-style-type: none;
}
.header .menu li a {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-decoration: none;
    display: block;
    padding: 0 20px;
}
.header .menu li a:hover {
    color: #212121;
    border-bottom: 1px solid black;
}
.header .menu li a:active {
    background-color: #cfe7e9;
}
#contacts_header h1, #products_header h1 {
    margin-left: 98px;
    margin-top: 171px;
}
.block_main .text, .block_hot .text {
    width: 453px;
    margin-top: 288px;
    margin-left: 98px;
}
.block_main .text h3, .block_hot .text h3 {
    font-size: 18px;
    color: #43a047;
    font-weight: 700;
    line-height: 48px;
}
.block_main .text h1, .block_hot .text h1, #contacts_header h1, #products_header h1 {
    color: #212121;
    font-size: 57px;
    font-weight: 100;
    line-height: 72px;
    margin-bottom: 12px;
}
.block_main .text p, .block_hot .text p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 12px;
}
.block_main .text a, .block_hot .text a {
    display: block;
    background: #ffffff;
    box-shadow: 0 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius: 22px;
    text-align: center;
    line-height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.6px;
}
.block_main .text a:hover, .block_hot .text a:hover, .block_exclusive .text a:hover, .block_exclusive2 .text a:hover {
    background: #ffffff url('img/button_arrow.png') no-repeat 183px 16px;
}
.block_main .text a:active, .block_hot .text a:active {
    background-color: #cfe7e9;
}
.block_main_contacts {
    margin-left: 98px;
    margin-top: 71px;
    margin-bottom: 122px;
    overflow: hidden;
}
.block_main_contacts .block_address {
    width: 370px;
    height: 370px;
    float: left;
    text-align: center;
    margin-right: 30px;
    border: 1px solid #9c9c9c;
}
.block_main_contacts .point {
    margin-top: 48px;
    margin-bottom: 34px;
}
.block_main_contacts h3 {
    width: 137px;
    height: 16px;
    color: #212121;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
    text-transform: uppercase;
    margin-left: 117px;
}
.block_main_contacts h5 {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 3px;
    margin-top: 23px;
}
.block_main_contacts p {
    color: #212121;
    font: bold;
    font-weight: 700;
    font-size: 14px;
}
.block_main_contacts .lite {
    font-weight: 300;
}
/* Style for page Products and Details*/
.block_products .menu_range {
    float: left;
    margin-left: 105px;
    margin-top: 71px;
    margin-bottom: 72px;
}
.block_details {
    height: 70px;
    background: #f4f4f4;
}
.block_details .menu_range {
    float: right;
    margin-left: 105px;
    margin-top: 28px;
    margin-bottom: 29px;
}
.block_details_buy {
    height: 651px;
    border: 1px solid #000;
    margin-top: 72px;
    margin-left: 98px;
    margin-bottom: 245px;
}
.block_related h1 {
    margin-left: 98px;
}


.block_products .menu_range li, .block_details .menu_range li {
    float: left;
    list-style-type: none;
}
.block_products .menu_range li a, .block_details .menu_range li a  {
    width: 647px;
    height: 13px;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding: 0 20px;
    text-decoration: none;
}
.block_products .menu_range li a:hover, .block_details .menu_range li a:hover {
    color: #212121;
    border-bottom: 1px solid black;
}
.block_products .menu_range li a:active, .block_details .menu_range li a:active {
    background-color: #cfe7e9;
}
.block_products .refresh {
    margin-left: 672px;
    margin-top: 71px;
}
.header .navi {
    margin-left: 623px;
    margin-top: 122px;
}
.block_featured_new {
    height: 489px;
}
.menu_featured_new {
    list-style-type: none;
    margin-top: 120px;
    margin-left: 107px;
}
.menu_featured_new li {
    list-style-type: none;
    float: left;
    margin-right: 31px;
}
.menu_featured_new li a {
    text-decoration: none;
    font-size: 36px;
    color: grey;
    font-weight: 700;
}
.menu_featured_new li a:hover {
    color: black;
    border-bottom: 2px solid #000;
}
.explore_all {
    float: right;
    margin-right: 118px;
    margin-top: 25px;
    margin-bottom: 50px;
    line-height: 13px;
    width: 179px;
    font-weight: 700;
    letter-spacing: 3.5px;
    text-decoration: none;
    color: black;
}
.thumbs {
    float: left;
    margin-left: 98px;
}
.thumb {
    float: left;
    height: 270px;
    width: 270px;
    margin-right: 30px;
}
.thumb_back {
    opacity: 0.3;
}
.thumb img:hover {
    opacity: 1;
}
.img_circle {
    position: absolute;
    margin-top: -210px;
    margin-left: 111px;
}
.img_arrow {
    position: absolute;
    margin-top: -193px;
    margin-left: 134px;
}
.cap_1_span {
    /* Style for "Fishnet Ch" */
    position: absolute;
    margin-top: -140px;
    margin-left: 65px;
    width: 160px;
    height: 17px;
    color: #212121;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
}
.cap_2_span {
    /* Style for "Seat and b" */
    position: absolute;
    margin-left: 32px;
    margin-top: -100px;
    width: 216px;
    height: 33px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
    text-align: center;
}
.block_exclusive {
    height: 683px;
    width: 1366px;
    overflow: hidden;
    float: left;
    margin-top: 120px;
}
.block_exclusive img {
    float: left;
}
.block_exclusive .inner_1, .block_exclusive .inner_2 {
    float: left;
}
.block_exclusive .text h3, .block_exclusive2 .text h3 {
    /* Style for "exclusive" */
    position: absolute;
    margin-left: 51px;
    margin-top: 228px;
    width: 115px;
    height: 13px;
    color: #1e88e5;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.block_exclusive .text h1, .block_exclusive2 .text h1 {
    /* Style for "Fishnet Ch" */
    position: absolute;
    margin-left: 52px;
    margin-top: 259px;
    width: 252px;
    height: 28px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}
.block_exclusive .text p, .block_exclusive2 .text p {
    /* Style for "Seat and b" */
    position: absolute;
    margin-left: 50px;
    margin-top: 331px;
    width: 374px;
    height: 36px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
}
.block_exclusive .text a, .block_exclusive2 .text a {
    /* Style for "back" */
    display: block;
    position: absolute;
    margin-left: 50px;
    margin-top: 401px;
    background: #ffffff;
    box-shadow: 0 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 212px;
    height: 45px;
    text-decoration: none;
    border-radius: 22px;
    text-align: center;
    line-height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3.6px;
}
.block_trending {
    width: 1366px;
    height: 1108px;
}
.block_trending h1 {
    float: left;
    margin-left: 98px;
    margin-top: 119px;
    margin-bottom: 64px;
    width: 361px;
    height: 35px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}
.block_trending .explore_all {
    margin-top: 130px;
}
.block_related .explore_all {
   margin-top: -10px;
}
.block_trending .inner_3, .block_products .inner_1, .block_related .inner_1 {
    float: left;
    margin-left: 98px;
}
.block_trending .inner_3 img, .block_products .inner_1 img, .block_related .inner_1 img {
    margin-right: 30px;
    margin-bottom: 30px;
}
.block_hot {
    float: left;
    width: 1366px;
    height: 800px;
    background-image: url(img/slider2.jpg);
}
.block_hot .text h3 {
    color: #e53935;
}
.block_hot .navi {
    margin-left: 623px;
    margin-top: 226px;
}
.block_exclusive2 {
    float: left;
    width: 1366px;
    height: 810px;
}
.block_exclusive2 .inner_1 {
    float: left;
    width: 570px;
    height: 570px;
    margin-left: 98px;
    margin-top: 120px;
    margin-right: 30px;
}
.block_exclusive2 .inner_2 {
    margin-top: 120px;
}
.block_exclusive2 img {
    float: left;
    margin-bottom: 30px;
    margin-right: 30px;
}
.block_exclusive2 .text p {
    width: 332px;
}
.block_mobile {
    height: 516px;
    float: left;
    width: 1366px;
    background: url("img/mobile-backgr.jpg") no-repeat;
}
.block_mobile h3 {
    margin-top: 125px;
    margin-left: 99px;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    color: #6c6c6c;
    letter-spacing: 1.8px;
}
.block_mobile h1 {
    margin-left: 99px;
    margin-top: 12px;
}
.block_mobile p {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-left: 99px;
    margin-top: 16px;
}
.block_mobile img {
    margin-top: 33px;
    float: left;
}
.block_mobile img:first-of-type {
    margin-top: 33px;
    float: left;
    margin-left: 99px;
    margin-right: 10px;
}
.footer {
    background-color: #f7f7f7;
    height: 384px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 97px;
    padding-top: 120px;
}
.footer h3 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}
.contact {
    float: left;
    width: 231px;
    height: 102px;
    margin-right: 71px;
}
.contact p, .stay p {
    margin-top: 24px;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.useful {
    float: left;
    margin-right: 72px;
}
.useful h3 {
    padding-bottom: 20px;
}
.useful_1 {
    float: left;
    width: 138px;
    margin-right: 97px;
} 
.useful_2 {
    float: left;
    width: 193px;
}
.useful li {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    list-style: none;
}
.stay {
    float: left;
    width: 363px;
}
.stay input {
    margin-top: 26px ;
    width: 370px;
    height: 48px;
    padding-left: 19px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.stay #email {
    width: 45px;
    height: 45px;
    position: relative;
    left: 340px;
    bottom: 48px;
    background: white;
    border: none;
    color: #6c6c6c;
}
.copyright, .social, .terms {
    float: left;
}
.copyright, .terms {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.copyright {
    margin-right: 158px;
}
.social {
    color: #6c6c6c;
    font-size: 16px;
    letter-spacing: 4px;
}
.terms {
    float: right;
    margin-right: 97px;
}